<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
    <title>Lab 9</title>
    <style>
        body{
            display: grid;
            grid-template-columns: 800px 1fr ;
            text-align: center;
            padding: 30px;
        }
    </style>
</head>
<body>
</br>
    <%- include('partials/body') %>
</body>
</html>