<div class ="box">
    <img src="/images/home.png" alt="html" title="home" height="200" width="200" />
    <img src="/images/movie.png" alt="html" title="" height="200" width="200" />
    <img src="/images/garden.png" alt="html" title="" height="200" width="200" />
    <img src="/images/aquarium.png" alt="html" title="" height="200" width="200" />
    <img src="/images/temple.png" alt="html" title="" height="200" width="200" />
    <img src="/images/hydrant.png" alt="html" title="" height="200" width="200" />
</div>

    